* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    width: 100%;
    height: 100vh;
  display: inline-flex;
padding: 162px 332px 162px 306px;
align-items: center;
justify-content: center;
gap: 296px;
background: #EEE;
}