$primary-color: #0D0D0D;
$primary-font: "Inter";
$secondary-color:#888;
$Font-syze: 14px;
$Same-color: #fff;
$primary-color: #007FDB;
$secondary-color: #20eeb0;
$background-color: #eeeeee;
$light-bg: #ebeff2;
$white-color: #ffffff;
$text-color: #0D0D0D;
$secondary-text-color: #888888;
$font-family-main: 'Inter', sans-serif;
$font-family-header: 'Russo One', sans-serif;
$primary-color: #007FDB;
$secondary-color: #20eeb0;
$light-bg: #ebeff2;
$white-color: #ffffff;
$text-color: #0D0D0D;